# Pandas

In [1]:
#another library of python for handling heterogenous data.

# Series

In [2]:
#series give one dimensional array just like numpy.. the only difference is IN series we get indexes with associated values

In [3]:
import pandas as pd

In [4]:
a = pd.Series([1,2,-4,5,6])
a

0    1
1    2
2   -4
3    5
4    6
dtype: int64

In [5]:
#as we can see in above example every value has its index

In [6]:
#PANDAS series has two things in one object

# 1.Value

In [7]:
b = pd.Series([10,20,30])        #AS we mntion to print values it only prints the values 
print(b.values)

[10 20 30]

# 2.Index

In [8]:
b = pd.Series([10,20,30])        #AS we mntion to print index it tells us the range... 
print(b.index)

RangeIndex(start=0, stop=3, step=1)

In [9]:
#NOW we can also name index by our choice... index can be non_numerical or non_numbers

In [10]:
b = pd.Series([10,20,30,40] , index = ['jan', 'feb', 'mar', 'apr'])
b

jan    10
feb    20
mar    30
apr    40
dtype: int64

In [11]:
#we can also name the series...

In [12]:
b = pd.Series([10,20,30,40] , index = ['jan', 'feb', 'mar', 'apr'], name= ('record of every month'))
b

jan    10
feb    20
mar    30
apr    40
Name: record of every month, dtype: int64

# Data of canteen : 7days onebite sales

In [13]:
canteen = pd.Series([40,50,40,60,20,30,0], index=['mon','tue','wed','thur','fri','sat','sun'])
canteen

mon     40
tue     50
wed     40
thur    60
fri     20
sat     30
sun      0
dtype: int64

# how to acces data

In [14]:
import pandas as pd

In [15]:
canteen = pd.Series([40,50,40,60,20,30,0], index=['mon','tue','wed','thur','fri','sat','sun'])
canteen

mon     40
tue     50
wed     40
thur    60
fri     20
sat     30
sun      0
dtype: int64

# numpy method

In [16]:
canteen = pd.Series([40,50,40,60,20,30,0], index=['mon','tue','wed','thur','fri','sat','sun'])
(canteen[1])

50

# pandas index method

In [17]:
(canteen['tue'])

50

# multiple values

In [18]:
(canteen[[3,5]])         #2sqaure brackets for multiple values

thur    60
sat     30
dtype: int64

In [19]:
(canteen[['tue','sun']])

tue    50
sun     0
dtype: int64

# conditonal

In [20]:
(canteen[canteen > 40])

tue     50
thur    60
dtype: int64

# mathematical operations

In [21]:
#mathematical operations apply krny sy original data pe koi frq ni prta unless we save it

In [22]:
canteen * 2

mon      80
tue     100
wed      80
thur    120
fri      40
sat      60
sun       0
dtype: int64

In [23]:
canteen

mon     40
tue     50
wed     40
thur    60
fri     20
sat     30
sun      0
dtype: int64

In [24]:
canteen = canteen * 2
canteen

mon      80
tue     100
wed      80
thur    120
fri      40
sat      60
sun       0
dtype: int64

In [25]:
canteen // 2

mon     40
tue     50
wed     40
thur    60
fri     20
sat     30
sun      0
dtype: int64

# in operator

In [26]:
#we use in operator for checking a  desire value in series

In [27]:
'tue' in canteen

True

# making pandas series from numpy array

In [28]:
import numpy as np

In [29]:
import pandas as pd

In [30]:
ar = np.array([2,4,6,8])
ind = np.array(['a','b','c','d'])
obj1 = pd.Series(ar, index=ind)
obj1

a    2
b    4
c    6
d    8
dtype: int32

# making pandas series from python dictionary

In [31]:
dic = {'joe':20, 'alpha':30, 'bazil':60}   #keys of dictionary are indexes in series 
series = pd.Series(dic)                    #value of dictionary is value of series
series

joe      20
alpha    30
bazil    60
dtype: int64

# how to check missing values in series data

In [32]:
#missing values are shows as NAN i.e Not a number

In [33]:
canteen.isnull()          #if there will be a missing value it shows True

mon     False
tue     False
wed     False
thur    False
fri     False
sat     False
sun     False
dtype: bool

In [34]:
pd.isnull(canteen)

mon     False
tue     False
wed     False
thur    False
fri     False
sat     False
sun     False
dtype: bool